@use "config" as conf;

/////////////////////////////////////////////
///CARRUSEL GENERALES///
/////////////////////////////////////////////

/*Carruseles de todas las paginas*/
.flecha-color {

    position: absolute;
    border: none;
    font-size: 3rem;
    width: calc(0.7em + 2vw);
    height: calc(3em + 11vw);
    top: calc(54% - 30%);
    line-height: 3rem;
    color: conf.$primary-color;
    cursor: pointer;
    opacity: 1;
    z-index: 80;
    border-radius: 0.6rem;
    transition: .2s ease all;

}

.flecha-izquierda {
    left: 0;
    font-size: calc(2em + 1vw);
    @include conf.linear90;

    &:hover {
        background: linear-gradient(90deg, rgba(8, 6, 6, 0.57) 8.93%, rgba(0, 0, 0, 0.291118) 71.87%, rgba(0, 0, 0, 0) 108.65%);
    }

    &:active {
        @include conf.linear90;
    }
}

.flecha-derecha {
    right: 0;
    font-size: calc(2em + 1vw);
    @include conf.linear270;

    &:hover {
        background: linear-gradient(270deg, rgba(8, 6, 6, 0.57) 8.93%, rgba(0, 0, 0, 0.291118) 71.87%, rgba(0, 0, 0, 0) 108.65%);
    }

    &:active {
        @include conf.linear270;
    }
}

.contenedor-style {
    position: relative;

    h2 {
        font-family: conf.fontfamily(rudaBold);
        margin-left: 3%;
    }
}

.carousel-size {

    width: 96.5%;
    padding: 3rem 0 3rem 0;
    overflow: hidden;
    scroll-behavior: smooth;

    .carousel-flex {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
        margin-left: 4rem;

        .popular,
        .pelicula,
        .serie,
        .visto {
            transition: .3s ease all;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);

            img {
                width: calc(4.5em + 11vw);
                height: calc(7em + 15vw);
            }

            &:hover {
                transform: scale(1.2);
                transform-origin: center;
            }
        }

    }
}

/////////////////////////////////////////////
///CAMBIOS DE CARRUSEL INDEPENDIENTES///
/////////////////////////////////////////////

//CARRUSEL TENDENCIAS

.top {

    height: calc(7em + 13vw);
    padding: 0 2rem 0 2rem;
    background: linear-gradient(0deg, rgba(19, 158, 202, 0.73) 0%, rgba(19, 158, 202, 0.54) 24.28%, rgba(19, 158, 202, 0.33) 58.64%, rgba(19, 158, 202, 0) 113.72%);
    border-radius: 1rem;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);

    &:hover {
        transform: scale(1.1);
        transform-origin: center;
    }

    .num-video {
        @include conf.flexbox-row;
        margin-top: 1rem;
        margin-bottom: 1rem;
        gap: 2rem;


        img {
            width: calc(3em + 10vw);
            height: calc(5em + 13vw);
            border-radius: 1rem;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
        }

    }

    .top-num {
        font-size: calc(4em + 8vw);
        font-family: conf.$familyRuda;
        -webkit-text-stroke: 2px white;
        color: transparent;

    }
}

//CARRUSEL RECOMENDACIONES 

.contenedor-recomendaciones {

    .flecha-izquierda,
    .flecha-derecha {
        top: 20%;
    }

    .contenedor-carousel-recomendaciones {
        width: 95%;
        height: 70%;

        .recomendacion {
            transition: .3s ease all;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);

            img {
                width: calc(7.5em + 18vw);
                height: calc(14em + 20vw);
            }

            &:hover {
                transform: scale(1.2);
                transform-origin: center;
            }

        }

    }
}



//CARRUSEL REPARTO

.contenedor-reparto {
    h2 {
        margin-left: 0;
    }

    .reparto {

        text-align: center;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);

        img {
            width: calc(4em + 7vw);
            height: calc(6em + 10vw);
        }

        .depart {
            font-family: conf.$familyRuda;
            padding: 1rem;
        }
    }

}

//CARRUSEL SIMILARES

.contenedor-similar {
    margin-top: 18rem;

    h2 {
        margin-left: 0;
    }

    .similar {
        position: relative;
        transition: .3s ease all;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);

        .title-similar {
            position: absolute;
            font-size: conf.$Ssubtitule;
            top: 70%;
            left: 4%;
            width: 96%;
            background-color: #139fca7b;
        }

        img {
            width: calc(14em + 13vw);
            height: calc(7em + 10vw);
        }

        &:hover {
            transform: scale(1.2);
            transform-origin: center;
        }
    }

}

//CARRUSEL VISTAS

.show {
    display: none;
}

.visto {
    position: relative;

    span {
        position: absolute;
        top: 90%;
        width: 100%;
        height: 10px;
        background: linear-gradient(90deg, #139ECA 2.73%, rgba(19, 158, 202, 0.520833) 47.77%, rgba(19, 158, 202, 0) 71.27%);

    }
}


//CARRUSEL EPISODIOS
.contenedor-episodes-none {
    display: none;
}

.contenedor-episodes {
    margin-bottom: 3rem;

    .flecha-color {
        height: 75%;
        top: 16%
    }

    .episode {
        position: relative;
        margin-bottom: 6rem;

        img {
            width: calc(14em + 13vw);
            height: calc(7em + 10vw);
        }

        .title-episode {
            font-size: conf.$Snormal;
        }

        .descripcion-episodio {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            top: 100%;
        }
    }
}