@use "config" as conf;

//Configuracion General


* {
    margin: 0;
    padding: 0;
    color: conf.$primary-color;
    font-family: conf.$familyRuda;
}

a {
    text-decoration: none;
}

html,
body {
    //Para que no salga espacio en blanco a la derecha
    overflow-x: hidden;
}

main {
    background: linear-gradient(359.38deg, #139ECA -11.15%, rgba(19, 158, 202, 0.52405) 26.69%, rgba(19, 158, 202, 0.243914) 43.36%, rgba(19, 158, 202, 0.106218) 53.47%, rgba(19, 158, 202, 0) 63.94%), #080606;
    background-repeat: no-repeat;
}

h2 {
    font-size: conf.$Ssubtitule;
}


.contenedor-ficha {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr;
    padding-top: 3rem;

}


//BUSCAR PELICULAS O SERIES

.buscar {

    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 100;


    .buscar-videos {

        @include conf.flexbox-row;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 3rem;
        z-index: 105;
        background-color: #080606;

        img {

            width: calc(6em + 8vw);
            height: calc(10em + 10vw);
            transition: .3s ease all;

            &:hover {
                transform: scale(1.2);
                transform-origin: center;
            }
        }


    }
}


//MEDIA QUERIES MOBILE

@include conf.mobile {
    .contenedor-portada {
        .portada {
            height: 75vw;
            margin-bottom: 2em;
        }

        .card {
            top: 30%;
            gap: 0.5rem;

            .titulo {
                font-size: 6vw;
            }

            .tipo-video {
                font-size: 2.5vw;
            }

            .descripcion {
                width: 90%;
                min-height: 2%;
                font-size: 3vw;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .botones {
                height: 2%;
                gap: 0.5rem;

                .boton-valorado {

                    width: 25%;
                    border-radius: 0.2rem;

                    #valorado {
                        font-size: 5vw;
                    }

                    .star {
                        margin-bottom: 0.4rem;
                        font-size: 10vw;
                    }
                }

                #play {
                    border-radius: 0.2rem;
                    width: 30%;
                    font-size: 4vw;
                }
            }
        }

    }

    .carousel-size {
        padding: 1.5rem 0 1.5rem 0;

        .carousel-flex {
            gap: 1rem;
            margin-left: 1rem;
        }

        .popular,
        .pelicula,
        .serie,
        .visto {
            &:hover {
                transform: none;
            }
        }
    }

    //Quitar hovers
    .contenedor-recomendaciones {
        .contenedor-carousel-recomendaciones {
            .recomendacion {
                &:hover {
                    transform: none;
                }
            }
        }
    }

    .contenedor-similar {
        .similar {
            &:hover {
                transform: none;
            }
        }
    }


    .visto {
        span {
            height: 5px;
        }
    }



    //Footer
    footer {
        padding-top: 5rem;
    }

    .info-footer {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }




}