@use "config" as conf;

//Configuracion General


* {
    margin: 0;
    padding: 0;
    color: conf.$primary-color;
    font-family: conf.$familyRuda;
}

a {
    text-decoration: none;
}

html,
body {
    //Para que no salga espacio en blanco a la derecha
    overflow-x: hidden;
}

main {
    background: linear-gradient(359.38deg, #139ECA -11.15%, rgba(19, 158, 202, 0.52405) 26.69%, rgba(19, 158, 202, 0.243914) 43.36%, rgba(19, 158, 202, 0.106218) 53.47%, rgba(19, 158, 202, 0) 63.94%), #080606;
    background-repeat: no-repeat;
}

h2 {
    font-size: conf.$Ssubtitule;
}


.container-info-video {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr;
    padding-top: 3rem;

}




//MEDIA QUERIES MOBILE

@include conf.mobile {
    .container-card-front {

        .card-front {
            height: 70vw;
            margin-bottom: 2em;

        }

        .card {

            .title {
                font-size: 6vw;
            }

            .description {
                display: none;
            }

            .buttons {
                gap: 0.5rem;

                .button-valued {
                    width: 25%;
                    border-radius: 0.2rem;
                    font-size: 4vw;
                    padding: 0;

                    .star {
                        font-size: 10vw;
                    }
                }


                .button-play {
                    border-radius: 0.2rem;
                    width: 30%;
                    font-size: 4vw;
                }
            }
        }

    }

    .carousel-container {
        .carousel-size {
            padding: 1.5rem 0 1.5rem 0;

            .carousel-flex {
                gap: 1rem;
                margin-left: 1rem;

                movie {
                    &:hover {
                        transform: none;
                    }
                }
            }
        }
    }

    //Footer
    footer {
        padding-top: 5rem;

        .info-footer {
            flex-direction: column;
            align-items: center;
            gap: 5rem;

            .knowus,
            .help,
            .terms {
                h2 {
                    font-size: conf.$Stitle;
                }
            }

            .rrss-footer {
                width: 40%;

                h2 {
                    font-size: conf.$Stitle;
                }
            }
        }

        .lines {
            .copy {
                font-size: 4vw;
                margin: 2rem 6rem;
            }
        }
    }

}