@use "../../styles/config" as conf;

.back-arrow{
    font-size: calc(1em + 4vw);
    grid-column: 1/2;
    text-align: center;
    a{
        text-decoration: none;
    }
}

.title-ficha{
    font-size: conf.$Stitle;
    font-family: conf.fontfamily(rudaextraBold);
}

.ficha{
    grid-column: 2/11;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    #genero{
        font-family: conf.fontfamily(rudaBold);
    }
}