@use "../../styles/config" as conf;



.back-arrow {
    font-size: calc(1em + 4vw);
    grid-column: 1 / 2;
    text-align: center;

    a {
        text-decoration: none;
    }
}


.info-video {
    grid-column: 2 / 11 ;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 6em;


    .title-info {
        font-size: conf.$Stitle;
        font-family: conf.fontfamily(rudaextraBold);
    }

    .gender {
        font-family: conf.fontfamily(rudaBold);
    }

    .info-img{
        align-self: center;
        width: 80%;
        
    }
}

