@use "../../styles/config" as conf;


header {

    background-color: black;
    display: flex;
    flex-direction: column;

    .container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;

        .logo {
            width: calc(6em + 3vw);
        }
        
    }
    
}