@use "../../styles/config" as conf;

/*Pie de pagina*/
footer {

    padding-top: 10rem;
    padding-bottom: 10rem;
    background: linear-gradient(180deg, #139ECA -11.15%, rgba(19, 158, 202, 0.52405) 26.69%, rgba(19, 158, 202, 0.243914) 43.36%, rgba(19, 158, 202, 0.106218) 53.47%, rgba(19, 158, 202, 0) 63.94%), #080606;
    
    .info-footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 8rem;

        .knowus,
        .help,
        .terms {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h2{
                font-size: conf.$Snormal;
            }

            a {
                text-decoration: none;
            }
        }

        .rrss-footer {
            width: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            h2{
                font-size: conf.$Snormal;
            }
            
            img {
                width: calc(12em + 3vw);
                height: calc(5em + 1vw);
            }
        }
    }

    .lines {
        text-align: center;
        margin-top: 15rem;

        span {
            display: inline-flex;
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 84vh;
            height: 2px;
            background-color: conf.$primary-color;
        }

        .logo-footer {
            width: calc(7em + 3vw);
            height: calc(3em + 1vw);
        }

        .copy {
            margin-top: 2rem;
        }
    }
}